### Creating a Tuple

In [5]:
newTuple = ('a', 'b', 'c', 'd', 'e')
newtuple = ('a',) # Use coma when creating single element tuple
newtuplefu = tuple('abcde')
print(newtuplefu)
print(newTuple)

('a', 'b', 'c', 'd', 'e')
('a', 'b', 'c', 'd', 'e')

### Access Tuple Elements

In [9]:
print(newTuple[1]) # -1 can also be used - output last element
print(newTuple[1:3])

b
('b', 'c')

### Traversing through a Tuple

In [10]:
for i in newTuple:
    print(i)

a
b
c
d
e

In [12]:
for i in range(len(newTuple)):
    print(newTuple[i])

a
b
c
d
e

### Searching for an element in Tuple

In [13]:
print('a' in newTuple) # Prints a boolean value

True

In [14]:
print(newTuple.index('a'))

0

In [15]:
def searchTuple(p_tuple, element):
    for i in range(0, len(p_tuple)):
        if element == p_tuple[i]:
            return f"The {element} is in the index {i}"
    return 'The element is not found'

In [18]:
searchTuple(newTuple, 'c')

'The c is in the index 2'

### Tuple Operations / Functions

In [29]:
myTuple = (1,2,3,4,5)
myTyple1 = (1,2,6,9,8,7)

In [21]:
# Concatenation +
print(myTuple + myTyple1)

(1, 2, 3, 4, 5, 1, 2, 6, 9, 8, 7)

In [24]:
# Star operator *
print(myTuple * 4) # Will print the elemnts of tuple 4 times

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [25]:
# In operator, returns True or False
print(4 in myTuple)
print(100 in myTuple)

True
False

In [26]:
# Count Method - counts the repetition of elemnts in tuple
print(myTuple.count(2))

1

In [30]:
# Inddex Method, returns the index of the elemnt in the tuple
print(myTuple.index(3))

2

In [32]:
print(len(myTuple)) # returns length of the tuple
print(max(myTuple)) # returns max value in the tuple

5
5

In [34]:
print(tuple([1,2,3,4,5])) # converts list into a tuple

(1, 2, 3, 4, 5)

In [35]:
# Methods cannot be used with tuple
# - append()
# - insert()
# - remove()
# - pop()
# - clear()
# - sort()
# - reverse()

# We can store tuples in a list, we can also create a list in a tuple. We can also create a nested tuple ((1,2,3), (4,5,6,)).